@charset "UTF-8";

/* 팝업 */



  .enrollbg {
    padding-top: 300px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    
   
   	
    
  }
  
  #popup{
   background-color: black;
   
   
  }
  .color{
      height: 45px;  
      background-color: black;
      
  }

  /* 팝업창 */
  #popup {
    
    /* 포지션 fixed로 하고 */
    position: fixed;
    /* 크기주고 */
    width: 500px;
    height: 400px;
    /* 왼쪽에서 45% 위에서 50% */
    left: 45%;
    top: 50%;
    /* 배경색 */
    background: white;
   
    /* 테두리 좀 둥글게 */
    border-radius: 10px;
    /* positon으로 왼쪽 50% 위에서 50% 해놓은거에 
        팝업창 크기의 반정도(-250px) 빼면 정가운데 정렬됨 */
    margin-left: -150px;
    margin-top: -200px;
    border: solid;
   
  }

  .popupBtn {
    width: 30px;
    height: 30px;
    border:none;
    /* outline:none; */
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size:25px;
    color: white;
  }

  .active {
    display: none;
  }

  /* 버튼 제외한 팝업 전체 내용 */
  .popupContent{
    margin: auto;
  	width: 60%;
  	margin-top: 30px;


  }

  /* 팝업 타이틀 */
  .popupTitle{
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 10%;
  }
 

  