@charset "UTF-8";

 

/* 이건 스크롤 내리면 헤더가 바뀌는데 거기에 대한 설정 */
.headerBox {
    display: flex;
    padding: 0px 100px 0px;
    text-align: bolder;
}

/* 이 Filter들은 각 글자들의 간격 */
.infoFilter{
    padding: 0px 100px 0px;
}
.reviewFilter{
    padding: 0px 100px 0px;
}
.photoFilter{
    padding: 0px 100px 0px;
}

 .displayNone {
     display: none;
 }

 .selectFilter {

     width: 500px;
     height: 50px;
    background-color: black;
 }

 

/* 숙소 이미지에 대한 정보 */
 
.mainBox{
	display:flex;
	text-aglin:center;
	display: inline-block;
	
}
.first {
   
    width: 1100px;
    height: 430px;
    background-size: cover;
    margin-right: 30px;
   
    }
.second{
	
	width: 500px;
	height: 80px;
	display: flex;
	border: 0px;

	
	}
	
	
	
   .aserviceimg{
   margin-left: 30px;
   } 


   .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
      
      /* 왼쪽 버튼 */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../../image/common/icon/prev.png");
    background-size:cover;
    
    left: 10px;
    right: auto;
}
/* 오른쪽 버튼 */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../../image/common/icon/next.png");
    background-size:cover;
   
    right: 10px;
    left: auto;
}
.body{
      background-color:white;
}


/* 숙소 정보 첫번째 박스  */ 
.section  .info{  
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 430px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px
    /* text-decoration: overline; */
    
} 
/* 숙소 제목에 대한 설정 */
.section .info .title{
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px; 


}
/* 관심숙소 버튼 */
.heartCommon{
    width: 25px;
    height:25px;
    margin-left:10px;
    cursor: pointer;
}

/* 이게하트 */
.heart{
    background-image: url("../../image/common/icon/heart0.png");
    background-size: cover;
}
.fav{
    background-image: url("../../image/common/icon/heart1.png");
    background-size: cover;
}
/* 숙소 간단정보 설정 */
.titleInfo{
    padding: 1px 40px;
    margin-bottom: 20px;
    color: black;
    width: 200px;

}

/* 호스트 정보 박스 크지 설정 */
.section .host{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
/* '호스트 정보' 글씨 설정 */
.section .hostInfo{
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    background-color: black ;
    color:white;
    border: 2px gray solid;
}
/* 숙소 예약금액이 보이는 박스 크기설정 */
.section .pricebox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

}
/* 금액에 대한  설정, 윗선 아랫선 */
.section  .info .price{  
   width: 70%;
   color: black;
    height: 100%;
    line-height: 40px;  
    /* 이게 위 아래 가운대로 맞춰주는 기능 (이건 부모 div랑 height px 이랑 같은 값을 주면 가운대 정렬됨;) */
    border-top: 1px solid; 
    /* 이게 위에 선주는 기능 */
    border-bottom: 1px solid;
    /* 이게 아래 선주는 기능 */
    margin-top: 10px;

}


/* booking 버튼 감싸는 공간크기  설정 */
.section .paybox{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* booking 버튼 설정 */
.section .pay{
    text-align: center; 
    /* 이건글자 가운대정렬 */
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: black ;
    color:white;
    border: 2px gray solid;
    font-size: 15px;
    padding: 5px 50px;
}




/* //////////////////////////////////////////////////////////////// */

/* 여기서 부터 숙소 정보 */

/* 숙소 정보 두번째 박스 설정  */
.section .houseinfobox{
	display:flex;
    width: 100%;
    height: 500px;
    display: flex;
    background-color: white ;
    margin-top: 80px;
 
   
/*     border: black solid; */
    
}
/* 체크 인 아웃, 수용인원 정보  */
.section .houseinfobox .houseinfo{
    
    width: 36%;
    height: 400px;
    border : 1px solid black;
  	padding-top: 120px;
   
   
}
.infoDetail{
	text-align: center;

}
.infoDetail2{
	text-align:left;
	margin-left: 70px;

}

/* 숙소 간단정보 */
.section .houseinfobox .houseIntroduce{
	width: 64%;
    margin-top: 20px;
    line-height: 200%;
    padding: 50px ;
    justify-content: center;
}

 



/* 숙소 에 있는 편의 이용시설 정보들 */
.section .test >div {
    border-top: 1px solid; 
    border-bottom: 1px solid;
    padding: 20px 50px;
    margin: 20px 0px;
    display: flex;
}

/* 일단 편의시설이미지가 없어서 임시로 이렇게 등록해놓음 */
/* 아래 a,b,c,d, 내용 다 같음 */
.section .facility .a .aimg{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px ;

}
/* 이미지 아래 들어오는 글자 */
.section .facility .a .afont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px ;
    color:black;
}


.section .facility .b .bimg{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px ;
}

.section .facility .b .bfont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}


.section .facility .c .cimg{
   width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px ;
}

.section .facility .c .cfont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}
.section .facility .d .dimg{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px ;
}

.section .facility .d .dfont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}






/* 이건 서비스 에 대한 이미지설정 */
아래 a,b,c,d 다 같음
.section .service .a .aserviceimg{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px;
}
/* 이건 서비스 이미지 아래 들어오는 글자 */
.section .service .a .aservicefont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}

.section .service .b .bserviceimg{
     width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px ;
}

.section .service .b .bservicefont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}

.section .service .c .cserviceimg{
     width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px;
}

.section .service .c .cservicefont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}

.section .service .d .dserviceimg{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white ;
    border: 2px black solid;
    margin-left: 50px;
}

.section .service .d .dservicefont{
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
}

/* 이건 숙소에 제공되는 기본 물품에 대한 정보 */
.section .amienity .all {
    font-size: 8px;
    padding: 1px 10px;
    margin-left: 40px;
    display: flex;
}

.section .amienity .all  > * {
    margin-right: 20px;
}

/* 이건 숙소 전자기기에 대한 정보 */
.section .eqiipment .all {
    
    font-size: 8px;
    padding: 1px 5px;
    margin-left: 30px;
    display: flex;
}

.section .eqiipment .all  > * {
    margin-right: 10px;

}

/* ////////////////////////////////////////////// */
/* 숙소 정보 세번째 박스 설정  */

.section .houseinfobox2{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    background-color: white ;
    color:black;
    margin-top: 170px;
    
}

/* 갬성글 정보 */
.section .houseinfobox2 .houseIntroduce2{
	width:70%;
    margin-left:-50px;
    line-height: 320px;
    color: black;
    border: solid;
}

/* 숙소 갬성글에대한 이미지, 이런 이지미가 없을 경우 로고와 전하고 싶은 단어 몇가지 입력 */
.section .houseinfobox2 .houseinfo2{
    text-align: center;
    width: 30%;
    height: 320px;
    margin-left: 10px;
    border :  solid;
    background-image: url("../img/regist/sunny.jpg");
    background-size: contain;


}



/* ///////////////////////////////// */

/* 숙소 정보 네번째 박스 설정  */
.section .gradeTitle{
   display: flex;
   width: 100%;
   height: 30px;
   justify-content: space-between;
   margin-top: 90px;
}

/* 2번째 박스와의 간격설정 및 글자 박스와 이미지 박스 한줄로 정렬 */
/* 이미지 */
/* 글씨를 감싸는 박스 */
.section  .comment {
    width: 1500px;;
    display: flex;
    margin-top: 30px;
    height: 300px;

       
}
.gradePhoto {
	margin-top:20px;
	margin-left:80px;
	margin-right:10px;
    width: 17%;
    height: 250px;
    background-image: url("/image/.jpg");
    background-size: cover;
    background-position: center;
    border: solid;
    
}
.ex{
	text-align: right;
}



/* 박스 사이즈 설정 및 박스안에 들어가는 글씨들 색설정 */

.three{
	width: 67%;
	height: 100%;
	margin-left: 5px;
	border: 0px;



}

.customer {

	margin-top:20px;
    flex-direction: column;
    color: black;
    margin-right: -40px;
    

   
   
}
/* 박스안  글자들 위치 정렬 설정 */
.gradeall {
	height: 250px;
    display: flex;
    background-color: white ;
    padding-top:10px;
    padding-left:20px;
    width: 80%;
    text-align: left;

}
.gradeinfo{
	width: 750px;
}
.gradeinfo .a{
	margin-top: 1px;
	
}
.gradeinfo .b{
	margin-top: 1px;
	
}
.gradeinfo .c{
	height: 50px;
	padding-bottom:15px;
	border-bottom: 1px black solid;

}


.largeComments{
	margin-top:35px;
	margin-left: 30px;
	


}



/* 박스안에서 맨 오른쪽 위에 위치 설정 */
.graderoom{
  position: absolute;
  top: 0;
  right: 0;
  padding:10px;
}






/* 숙소 정보 다섯번째 박스 설정  */
/* 다섯번째 지도박스와 정보들 한줄로 위치 설정 */
.section .place {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
/* 정보만 들어가는 박스 크기 설정 */
.placeSection {
    width: 60%;
    height: 100%;
    align-items: center;
    color: black;
    background-color: white ;
    border:  solid;
    padding:10px;
}

/* 주변시설  박스와의 간격설정 */
.placeSort{
    padding:10px;
}
/* placeinfo 아래 주변시설마다의 간격 설정 */
.placeinfo > div {
    padding: 3px 15px;
   
}


/* 주변시설 지도 설정 */
.placemap {
    width: 30%;
    height: 100%;
    background-color: white ;
    border:  solid;
    padding:10px;
    background-image: url("../img/regist/placeimg.JPG");
    background-size: cover;
    background-position: center;
}

/* .section .place .placeinfo .placename{
   
}
.section .place .placeinfo .placeContents{
   
}

.section .place .placeinfo .placeClassification{
  

}

=======
 */
 
 
