@charset "UTF-8";
.section{
    /* 바디 섹션의 총크기 */
    padding: 0 30px;
    /* background-color:pink; */
    box-sizing: border-box;
}

.section1 {
    /* 정렬구역 크기 */
    width: 100%;
    height: 50px;
    /* border: 1px solid; */
    margin-top: 100px;
    display: flex;
    line-height: 50px;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.308);
    border: 0.5px solid rgba(223, 222, 222, 0.685);
}

.section2{
    /* 검색 리스트 구역 크기 */
    width:100%;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* 정렬구역 */
ul.box {
    list-style: none;
    background-color: rgba(255,255,255,0.8);
    /* opacity: 0.9; */
    /* background-color: green; */
}

.section1 > .btnCon{
    
    width: 280px;
    position: relative;
    /* border: 1px solid; */
    display: inline-block;
    z-index: 100;
}
.section1 > .btnCon > .btn {
    /* 버튼 */
    display: flex;
    align-items: center;
    position:relative;
    width: 100%;
    height: 50px;
    cursor: pointer;
    /* border: 1px solid; */
    /* border: 1px solid rgba(209, 209, 209, 0.5); */
}
.section1 > .btnCon > .btn > p{
    /* 버튼 안 글씨 */
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    position: relative;
    z-index: 50;
    font-size: 13.5px;
}
.section1 > .btnCon > .btn > .arrow {
    /* 버튼 안 화살표 */
    width: 15px;
    height: 15px;
    background-image: url("../../image/house/houseSearch/sort/arrow.png");
    background-size: cover;
    position: absolute;
    right:10px;
    z-index: 1;
}
.section1 > .btnCon > ul {
    /* 밑에 박스 */
    position: absolute;
    width: 260px;
    height: 200px;
    top: 60px;
    left: calc(50% - (260px / 2));
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.801);    
    text-align: center;
}

.section1 > .btnCon > ul > li {
    cursor: pointer;
    font-size:14px;
}

.section1 > .btnCon .selectBtn{
    /* 숙소 00개 버튼 */
    display:flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size:16px;
}

.selectBtn > div {
    width: 150px;
    height: 45px;
    background-color: #74b1bf;
}




.box{
    /* 밑에 박스 기본적으로 안보이게 */
    display: none;
}

#pageBar{
    height:20px;
    text-align:center;
}
/* 검색구역 */
/* 지도 */

.map{
    width: 400px;
    height: 500px;
  /*   border: 1px solid; */
}

/* .map.on {
    position: absolute;
  } */

/* 숙소 리스트 영역 */
.listCon{
    display:flex;
    flex-direction: column;
    /* border:1px solid; */
   
}
#pageBar{
    height:30px;
    margin-top:10px;
}
/* 숙소리스트 */
.list{
    /* border:1px solid red;  */
    width:1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.list > div{
    /* 숙소리스트 숙소 하나하나 칸 */
    /* border:1px solid blue; */
    width:300px;
    height:400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
}

.list > div > a{
    /* 숙소리스트의 사진 */
    width: 100%;
    height: 280px;
    background-size:cover;
}

.contentSection1{
    /* 숙소이름과 관심숙소버튼 부분 */
    width:100%;
    height:45px;
    padding: 5px 5px;
    /* border: 1px solid; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.houseName{
    /* 숙소이름 */
    font-size: 20px;
    font-weight: bolder;
    width:220px;
}

.heartCommon{
    /* 관심숙소 버튼 */
    width:25px;
    height:25px;
    margin-right:5px;
    cursor: pointer;
}

.heart{
    background-image: url("../../image/common/icon/heart0.png");
    background-size: cover;
}
.fav {
    background-image: url("../../image/common/icon/heart1.png");
    background-size: cover;
}


.houseLine{
    /* 나누는선 */
    width: 280px;
    height: 2px;
    background-color: black;
}

.contentSection2, .contentSection3{
    /* 숙소정보있는 라인들 */
    width:100%;
    height:35px;
    /* border:1px solid; */
    padding: 5px 5px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    /* 숙소정보라인의 한 덩어리들 */
    width:140px;
    height:100%;
    /* border:1px solid; */
    display:flex;
    align-items: center;
}
.box2{
    /* 숙소정보라인의 한 덩어리들 */
    width:120px;
    height:100%;
    /* border:1px solid; */
    display:flex;
    align-items: center;
}
.houseLine2{
    /* 숙소정보라인을 나누는 선 */
    width: 280px;
    height: 0.8px;
    background-color: gray;
}
.contentBox > div{
    /* 아이콘들 */
    width:20px;
    height:20px;
    background-size: cover;
    margin-right: 10px;
}
.contentBox > p{
    /* 숙소정보의 글자들 */
    font-size: 12px;
    color:gray;
}

.contentLine{
    width: 2px;
    height: 20px;
    background-color: rgb(175, 175, 175);
    margin-right: 10px;
}


.iconLocation{
    background-image: url("../../image/house/houseSearch/listicon/pin.png");
}
.iconGrade{
    background-image: url("../../image/house/houseSearch/listicon/star.png");
}
.iconPrice{
    background-image: url("../../image/house/houseSearch/listicon/money.png");
}
.iconPeople{
    background-image: url("../../image/house/houseSearch/listicon/user.png");
}

.disnone{
    display: none;
}