@charset "UTF-8";
/* 검색구역 */
/* 지도 */
.map{
    width: 400px;
    height: 500px;
    border: 1px solid;
    bottom: 20px;
    position: fixed;
}

.map.on {
    position: absolute;
    
  }




/* 숙소리스트 */
.list{
    
    width:1000px;
    /* height:590px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.list > div{
    /* 숙소리스트 숙소 하나하나 칸 */
    /* border:1px solid blue; */
    width:300px;
    height:400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
}

.list > div > a{
    /* 숙소리스트의 사진 */
    width: 100%;
    height: 280px;
    background-size:cover;
}

.contentSection1{
    /* 숙소이름과 관심숙소버튼 부분 */
    width:100%;
    height:45px;
    padding: 5px 5px;
    /* border: 1px solid; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.houseName{
    /* 숙소이름 */
    font-size: 20px;
    font-weight: bolder;
}
.heartCommon{
    /* 관심숙소 버튼 */
    width: 25px;
    height:25px;
    
    margin-right:5px;
    cursor: pointer;
}

.heart{
    background-image: url("../../image/common/icon/heart0.png");
    background-size: cover;
}
.fav {
    background-image: url("../../image/common/icon/heart1.png");
    background-size: cover;
}


.houseLine{
    /* 나누는선 */
    width: 280px;
    height: 2px;
    background-color: black;
}

.contentSection2, .contentSection3{
    /* 숙소정보있는 라인들 */
    width:100%;
    height:35px;
    /* border:1px solid; */
    padding: 5px 5px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.contentBox{
    /* 숙소정보라인의 한 덩어리들 */
    width:130px;
    height:100%;
    /* border:1px solid; */
    display:flex;
    align-items: center;
}
.houseLine2{
    /* 숙소정보라인을 나누는 선 */
    width: 280px;
    height: 1px;
    background-color: gray;
}
.contentBox > div{
    /* 아이콘들 */
    width:20px;
    height:20px;
    background-size: cover;
    margin-right: 10px;
}
.contentBox > p{
    /* 숙소정보의 글자들 */
    font-size: 14px;
    color:gray;
}

.contentLine{
    width: 2px;
    height: 20px;
    background-color: rgb(175, 175, 175);
    margin-right: 10px;
}

.housePic1{
    background-image:  url("../../image/house/houseSearch/house/house1.jpg");
}
.housePic2{
    background-image:  url("../../image/house/houseSearch/house/house2.jpg");
}
.housePic3{
    background-image:  url("../../image/house/houseSearch/house/house3.png");
}
.housePic4{
    background-image:  url("../../image/house/houseSearch/house/house4.jpg");
}
.housePic5{
    background-image:  url("../../image/house/houseSearch/house/house5.webp");
}
.housePic6{
    background-image:  url("../../image/house/houseSearch/house/house6.png");
}
.housePic7{
    background-image:  url("../../image/house/houseSearch/house/house7.jpg");
}
.housePic8{
    background-image:  url("../../image/house/houseSearch/house/house8.webp");
}
.housePic9{
    background-image:  url("../../image/house/houseSearch/house/house9.jpg");
}
.iconLocation{
    background-image: url("../../image/house/houseSearch/listicon/pin.png");
}
.iconGrade{
    background-image: url("../../image/house/houseSearch/listicon/star.png");
}
.iconPrice{
    background-image: url("../../image/house/houseSearch/listicon/money.png");
}
.iconPeople{
    background-image: url("../../image/house/houseSearch/listicon/user.png");
}