@charset "UTF-8";
.section > div {
    display: flex;
    margin-top: 150px;
}
/* 이건 스크롤 내리면 헤더가 바뀌는데 거기에 대한 설정 */
.headerBox {
    display: flex;
    padding: 0px 100px 0px;
    text-align: bolder;
}

/* 이 Filter들은 각 글자들의 간격 */
.infoFilter{
    padding: 0px 100px 0px;
}
.reviewFilter{
    padding: 0px 100px 0px;
}
.photoFilter{
    padding: 0px 100px 0px;
}

 .displayNone {
     display: none;
 }

 .selectFilter {

     width: 500px;
     height: 50px;
    background-color: black;
 }

 

/* 숙소 이미지에 대한 정보 */
 

.swiper-container {
   
    width: 600px;
    height: 450px;
    background-size: cover;
    margin-right: 30px;
    border:solid;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      
    }
      
    