.section {
	margin-top: 100px;
}


.review {
	margin: 0 auto;
	width: 450px; 
	background-color: white;
	border: 1px black solid;
	padding: 50px;
	display:flex;
	flex-direction : column;
	justify-content: center;
}


.Writerating {
	margin-bottom: 50px;
	font-size: 20px;
}

/* 여기는 평점 별 찍는곳 */
/* ////////////////////////// */
* {
	margin: 1;
	padding: 1;
}

.star {
	display: inline-block;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.star_left {
	background: url(http://gahyun.wooga.kr/main/img/testImg/star.png)
		no-repeat 0 0;
	background-size: 40px;
	margin-right: -3px;
}

.star_right {
	background: url(http://gahyun.wooga.kr/main/img/testImg/star.png)
		no-repeat -20px 0;
	background-size: 40px;
	margin-left: -3px;
}
.star.on{
  background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
}



.gradeWriting {
	padding-top: 10px;
	font-size: 30px;
}

.gradebox {
	padding-top: 10px;
}

.title1 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 15px;
	color: black;
}

.titleWrite {
	color: gray;
	width: 100%;
	height: 30px;
}

.file {
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100px;
}

.contents {
	padding-top: 20px;
	padding-bottom: 10px;
}

.contentsWrite {
	color: gray;
	width: 100%;
	height: 200px;
}

.enrollment {
	width: 100px;
	text-align:center;
	height: 10px;
	margin:20px auto 0;
}

#imgContainer {
	padding-top: 20px;
}