@charset "UTF-8";

.section {
    padding: 10% 18%; 
  }
 
    /* 관심숙소 */
    .section .line1{	
		width: 100%;
		font-size: 20px;
    }
    
    .favTitle{
    	padding:2% 0;
    	outline:0;
    	border:0;
    	font-size:20px;
    	
    }
    
    .listLine{
		width: 100%;
		height: 2px;
		background-color: black;
    }
  
  
    /* 폴더구분 */
    .section .favorite{
		position: relative;
    } 
    
    .btnGroup{     
      float:right;          
    }
    
    
    .favoriteList{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2%; 
      z-index: 200;
    }
    .favoriteList div{
	  width: 230px;
	  height: 150px;
      position: relative;
      background-size: cover;
      box-shadow: 3px 5px 5px gray;
    }
    
    .eachList{
      margin: 2%;
    }

    /* 관심숙소 버튼 */
    .favoriteList .heartButton {     
      position: absolute;
      top:5px;
      left:190px;
	  width:  30px;
      height: 30px;
      cursor: pointer;
    }
    .heart{
      background-image: url("../../image/common/icon/heart0.png");
      background-size: cover;
    }
    .fav {
      background-image: url("../../image/common/icon/heart1.png");
      background-size: cover;
    }
  
    .recomPic1 {
    	position : relative;
    	background-image: url("../../image/member/main/recommend/recommend1.jpg");      
    }


    /* 목록수정 팝업창 */
    .modifyPop {
      position: absolute;
      right: 270px;
      top: 30px;
      z-index: 9999;
    }
      .ModDisNone {
        display: none;
      }
      
      #popupContent {
        width: 300px;
        height: 140px;
        background: white;
        margin-left: 70%;
        z-index: 250;
        box-shadow: 3px 3px 5px 5px gray;
        padding : 0 10%;
      }

    /* 팝업header */
    /* 팝업x버튼 */
    .modifyTitle{
		margin-top: 5%;
		font-size: 15px;
	}
    .xBtn {
	  	width: 30px;
		height: 30px;
		cursor: pointer;
		border: none;
		outline:none;
		background-color: white;
		position: absolute;
		top: 15px;
		right: -260px;  
    }
    .popupHeader{
      display: flex;
      margin: 4% 0;
    }
  
    /* 팝업section */	    
	  #listName {
		width: 90%;
		height: 30px;
		background-color: none;
		border: none;
		outline: none;
		border-bottom: 1px solid;	
	}
	
    .popupSection{
    	display:flex;
    	justify-content: center;
   		margin: 6% 0;
    }

    /* 팝업footer */
    .popupFooter{
      display: flex;
      justify-content: space-between;      
    }
    #backBtn,#modifyBtn11{
       	width: 95px;
		height: 35px;
    	cursor: pointer;
    	outline: none;
		border: none;
		background-color: white;
		font-size: 15px;
    }
    
    #deleteBtn, #saveBtn{
	 	width: 80px;
		height: 30px;
		border: none;
		text-decoration: none;
		cursor: pointer;
		outline: none;
		background-color: white;
		color: black;
		font-size: 12px;
    }