@charset "UTF-8";

.section {
	padding: 10% 20%;
}
/* 관심숙소 */
.section .line1 {	
	width: 100%;
	font-size: 20px;
}

.line1>p {
	padding:2% 0;
}

.listLine {
	width: 100%;
	height: 2px;
	background-color: black;	
}


/* 폴더구분 */
.section .favorite {
	position: relative;
}

#listBuildBtn {	
	width: 110px;
	height: 35px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	background-color: white;
	color: black;
	font-size: 15px;
	float:right;
}

/* 폴더목록 */
.favoriteList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 2%;
	z-index: 200;
}

.favoriteList div{
	width: 280px;
	height: 200px;
	position: relative;
	background-size: cover;
	box-shadow: 3px 5px 5px gray;
}

.eachList {
	margin: 2%;
}

.recomPic1 {
	background-image: url("../../image/member/main/recommend/recommend1.jpg");
		
}

/* 목록만들기 팝업창 */
.listPop {
	position: absolute;
	right: 60px;
	top: 30px;
	z-index: 9999;
}

.listDisNone {
	display: none;
}

#popupContent {
	width: 300px;
	height: 120px;
	background: white;
	z-index: 250;
	box-shadow: 4px 4px 4px 4px gray;
	padding : 0 10%;
}

/* 팝업header */
/* 팝업x버튼 */
	.makingTitle{
	margin-top: 5%;
	font-size: 15px;
	}
.xBtn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	outline:none;
	background-color: white;
	position: absolute;
	top: 15px;
	right: -40px;
}

.popupHeader {
	display: flex;	
	margin: 4% 0;
}
/* 팝업section */
#listName {
	width: 90%;
	height: 30px;
	background-color: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;	
}

.popupSection {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
}

/* 팝업footer */
.popupFooter {
	float:right;
}

#checkBtn {
	width: 80px;
	height: 30px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	background-color: white;
	color: black;
	font-size: 12px;
}