@charset "UTF-8";

.section {
    padding:0;  
  }
 
    /* 관심숙소 */
    .section .line1{
      margin-top:130px;
      width: 100%;
      font-size: 20px;
    }
    .section .line1 .listLine{
      width: 80%;
      height: 2px;
      background-color: black;
      margin-left: 10%;
      margin-right: 10%;
    }
    .section .line1>p{
      margin-left: 10%;
    }
  
    /* 폴더구분 */
    .section .favorite{
      margin-right: 10%;
      margin-left: 10%;
    } 
    .backButton{
      display: flex;
      align-items: space-between;
      margin-left: 80%;
    }
    .backButton> button {
      width: 110px;
      height: 35px;
      border: none;
      text-decoration: none;
      cursor: pointer;
      outline:none;
      background-color: white;
      color: black;
      font-size: 15px;
      margin:2%; 
    }
    .favoriteList{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2%; 
      z-index: 200;
    }
    .favoriteList div{
      width: 250px;
      height: 200px;
      position: relative;
      background-size: cover;
      box-shadow: 3px 5px 5px gray;
    }
    .eachList{
      margin: 2%;
    }
    .favoriteList .favoriteContents {
      width: 100%;
      height: 20%;
      background-color: rgba(255, 255, 255, 0.836);
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    /* 관심숙소 버튼 */
    .favoriteList .heartButton {
      width:  25px;
      height: 25px;
      margin-left:85%;
      padding:1%;
      cursor: pointer;
    }
    .heart{
      background-image: url("../../image/common/icon/heart0.png");
      background-size: cover;
    }
    .fav {
      background-image: url("../../image/common/icon/heart1.png");
      background-size: cover;
    }
  
    .recomPic1 {
    	background-image: url("../../image/member/main/recommend/recommend1.jpg");
      
    }






    /* 목록수정 팝업창 */
    .modifyPop {
      position: absolute;
      right: 220px;
      top: 50px;
      z-index: 9999;
    }
      .ModDisNone {
        display: none;
      }
      
      #popupContent {
        width: 300px;
        height: 220px;
        background: white;
        margin-left: 70%;
        z-index: 250;
        box-shadow: 3px 3px 5px 5px gray;
      }
      .line2{
        width:100%;
        height: 1px;
        background-color: gray;
        opacity: 90%;
      }

    /* 팝업header */
    /* 팝업x버튼 */
    .xBtn {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border:none;      
      background-color: white;
      position: absolute;
      top: 10px;
      right: 10px;  
    }
    .popupHeader{
      display: flex;
      justify-content: center;
      padding: 5%;
    }
    .popupHeader>p{
      margin-top: 5%;
    }

  
    /* 팝업section */
    
    #listName{
      width:200px;
      height:30px;
      background-color: rgb(199, 199, 199);
      border:none;
      opacity: 70%;
      outline: none;
    }
    .popupSection{
      padding-top: 10%;
      padding-bottom: 10%;
      display: flex;
      justify-content: center;
    }

    /* 팝업footer */
    .popupFooter{
      display: flex;
      justify-content: space-between;
      padding-top: 2%;
    }
    #deleteBtn, #saveBtn{
      width: 110px;
      height: 35px;
      border: none;
      text-decoration: none;
      cursor: pointer;
      outline:none;
      background-color: white;
      color: black;
      font-size: 15px;
    }