@charset "UTF-8";

*{box-sizing:border-box;}
/* 로그인 페이지 */
section {
    /* position: relative; */
    text-align: center;
  }

.loginContainer{
    width:35%;
     margin: 0 auto;
     margin-top: 150px;
   /*  margin-bottom:70px;  */
    align-items:center;
}

 
  /* '로그인' 타이틀 */
  .loginTitle{
    margin: 20px 10% 0 10%;
    font-size:25px;
    color:black;
    text-align: right;
    font-weight:700;
  }
 
/* '로그인'제목과 버튼 사이 선  */
.loginLine{
    width: 100%;
    height: 2px;
    margin: 20px 0 30px 0;
    background-color: black;
}
/* 밑에 선 */
.loginLine2{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: black;
}

/* 아이디,비밀번호 입력창 */
.login{
    width:100%;
    height: 50px;
    display: block;
    margin: 20px auto;
    border:0;
    outline:0;
    margin:3%;
}

/* 아이디 저장 */
.saveIdDiv{
    text-align:left;
    margin-bottom:10px; 
}
.saveIdDiv>input{
    height: 10px;
}
.saveIdDiv>input+label{
    font-size:10px;
}



/* 버튼들 */
/* 로그인 버튼 */
#loginButton{
    font-size: 17px;
    width:100%;
    height: 50px;
    margin: 10px 0;
    background-color: black;
    color:white;
    border:0;
    outline:0;
    cursor: pointer;
    
}

/* 아이디찾기,비밀번호찾기,회원가입 */
.otherBtns{
	margin:10px 0;
    text-align: center;
    font-size: 13px;
}
.otherBtns > *:nth-child(2n){
    cursor: pointer;
    border:0;
    outline:0;
    background: none;
    display : inline-block;
     margin-top: 10px;  
    color: black;
}

.division{
    display : inline-block;
     margin-top: 10px;  
    color: black;
 }
