@charset "UTF-8";
/* 배너 */



.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../../image/member/main/banner/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.searchBox {
  width: 850px;
  height: 8%;
  transform: translateY(-70px);
  background-color: rgba(255,255,255,0.8);
}

/* section2 recommend부분 */

.section .section2 {
  width: 100%;
}

.section2 .recommendTitle {
  width: 100%;
  text-align: center;
}

.section2 .recommend {
  width: 100%;
  /* height: 400px; */
  display: flex;
  justify-content: space-between;
  /* 나중에 미디어쿼리로 space-around해야함 */
  flex-wrap: wrap;
  padding-top: 80px;
}

.section2 .recommend > div {
  width: 350px;
  height: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 80px;
}

.section2 .recommend > div > div:nth-child(1) {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: cover;
  transition: all 0.5s;
}

/* hover하면 이미지 커지게 */

.section2 .recommend > div:hover .recommon {
  transform: scale(1.09);
}

.recommend .recomContents {
  width: 250px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.836);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 추천사진들 */

 .recomPic1 {
  background-image: url("../../image/member/main/recommend/recommend1.jpg");
}
.recomPic2 {
  background-image: url("../../image/member/main/recommend/recommend2.jpg");
}
.recomPic3 {
  background-image: url("../../image/member/main/recommend/recommend3.png");
}
.recomPic4 {
  background-image: url("../../image/member/main/recommend/recommend4.jpg");
}
.recomPic5 {
  background-image: url("../../image/member/main/recommend/recommend5.png");
}
.recomPic6 {
  background-image: url("../../image/member/main/recommend/recommend6.jpg");
}
 
/* section3 */

.section3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section3 > ul {
  width: 45%;
  height: 150px;
  border: 0.5px solid rgb(121, 121, 120);
  padding: 30px 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  /* 나중에 미디어쿼리로 space-around해야함 */
  justify-content: space-between;
  background-color: white;
}

.section3 > ul > li:nth-of-type(2) {
  font-size: 12px;
  color: rgb(78, 78, 76);
  line-height: 20px;
}

.section3 > ul > li:nth-of-type(3) {
  width: 130px;
  height: 40px;
  background-color:#1e1e1e;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: 700;
  color:white;
}

.mainHamColor {
	background-color : white;
}
