@charset "UTF-8";

/*1. main section */
.section {
	padding: 6% 20%;			
}

/* logo */
.section .myPageLogo>p {
	padding : 20px 0;	
	font-size: 20px;
}

/*2. 회원정보*/
.lineList {

   width: 100%;
   border: 2.2px black solid;
   display: inline-flex;  
     flex-wrap: wrap;
     justify-content:space-around; 
     padding: 5px; 

}


/* 회원정보 */


.lineList div input {
   opacity: 50%;   
   font-size : 18px;
   font-weight:300;
   margin-top : 2%;
   background-color: none;
   outline: none;
   border: none;
   /* box-sizing: border-box; */   
}

/* 메뉴바 */
.section .nav {
	padding: 10%;
}

.nav button:hover {
	font-weight: 600;
}

.section .line5 {
	width: 85%;
	margin-left: 7%;
	height: 2px;
	background-color: black;	
}

.section .nav>ul {	
	height: 0px;
	display: flex;
	justify-content: space-around;
}

button {
	width: 110px;
	height: 35px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	background-color: white;
	color: black;
	font-size: 15px;	
}





