@charset "UTF-8";

/*1. main section */
.section {
	margin-top: 5%;
}

/* logo */
.section .myPageLogo>p {
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 5%;
	font-size: 20px;
}

/*2. 회원정보*/
.section .lineList {
	width: 90%;
	border: 2px black solid;
	display: inline-flex;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
}
/* 회원정보 */
.lineList div {
	width: 60%;
}

.lineList div div {
	opacity: 50%;
}
/* 메뉴바 */
.section .nav {
	padding: 10%;
}

.nav button:hover {
	font-weight: 600;
}

.section .line5 {
	width: 80%;
	height: 2px;
	background-color: black;
	margin-left: 11%;
}

.section .nav>ul {
	top: 100;
	left: 0;
	height: 0px;
	display: flex;
	justify-content: space-around;
}

button {
	width: 110px;
	height: 35px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	background-color: white;
	color: black;
	font-size: 15px;
}

/* 3. 숙소 */
.section .house {
	width: 100%;
}

.house .line8 {
	width: 80%;
	padding: 2%;
}

.house .line8>p {
	padding-bottom: 1%;
}

.house .line8 .line9 {
	width: 120%;
	height: 2px;
	background-color: black;
}

/* 3-1 예약완료된 숙소 */
.stayed {
	margin-top: 10%;
}

.reserved .reservedList {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.reserved .reservedList div {
	width: 200px;
	height: 200px;
	position: relative;
	background-size: cover;
}

.reserved .reservedList .reservedContents {
	width: 150px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.836);
	position: absolute;
	bottom: 0;
	left: 0;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.reservedContents td {
	font-size: 11px;
	border: 1px solid;
}

.reservedContents tr {
	font-size: 11px;
	border: 1px solid;
}

/* 3-2 이용했던숙소 */
.stayed .stayedList {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stayed .stayedList div {
	width: 200px;
	height: 200px;
	position: relative;
	background-size: cover;
}

.stayed .stayedList .stayedContents {
	width: 150px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.836);
	position: absolute;
	bottom: 0;
	left: 0;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* 이용했던 숙소 사진*/
.recomPic1 {
	background-image:
		url("../../image/member/main/recommend/recommend1.jpg");
}

.recomPic2 {
	background-image:
		url("../../image/member/main/recommend/recommend2.jpg");
}

.recomPic3 {
	background-image:
		url("../../image/member/main/recommend/recommend3.png");
}

.recomPic4 {
	background-image:
		url("../../image/member/main/recommend/recommend4.jpg");
}

.recomPic5 {
	background-image:
		url("../../image/member/main/recommend/recommend5.png");
}

/* 4. 쿠폰총개수 */
.section .coupon {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10%;
}

.coupon>div {
	width: 50%;
}

.section .couponSum {
	width: 50%;
	height: 50px;
	background-color: #f0f0f0;
}

.couponSum .couponContents {
	font-size: 15px;
	font-weight: 400;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
}

.addContent {
	padding-right: 2%;
	padding-left: 2%;
}

/* 쿠폰변화유무 */
.couponCount .line6 {
	width: 100%;
	height: 2px;
	background-color: black;
	margin: 2% 0;
}

.couponCount .line7 {
	width: 100%;
	height: 1px;
	background-color: black;
	opacity: 40%;
	margin-top: 2%;
}

.section .couponCount {
	margin-top: 1%;
}

.section .couponCount>ul {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin: 1% 0;
}

/* 5. 개인정보변경 */
.section .private {
	width: 100%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.private input {
	width: 100%;
	height: 30px;
	background-color: none;
	outline: none;
	border: none;
	box-sizing: border-box;
}

.private>div {
	width: 60%;
}

.private p {
	text-align: right;
	margin-bottom: 2%;
}


/* 개인정보변경 table */
.private> table{
	width:60%;
	font-size:15px;
}

.private table{
	padding: 0 20px;
}
.private table td{
	padding: 20px 20px;	
}
.tr2{
	border-bottom: 1px gray solid;
}

.private .line6 {
	width: 100%;
	height: 2px;
	background-color: black;
}

/* 회원수정/탈퇴/비밀번호변경버튼 */
.private button {
	font-size: 14px;
}
