@charset "UTF-8";
/*1. main section */
.section {
	margin-top: 8%;
}


/* 5-2. 개인정보변경 */
.section .private {
	width: 100%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pwCheck{
	position : absolute;
	top:85px;
	right:370px;
	font-size: 15px;
}


.private input {
	width: 100%;
	height: 30px;
	background-color: none;
	outline: none;
	border: none;
	box-sizing: border-box;
}

.private>div {
	width: 60%;
}

.private p {
	text-align: right;
	margin-bottom: 2%;
}


/* 개인정보변경 table */
.private> table{
	width:60%;
	font-size:15px;
}

.private table{
	padding: 0 20px;
}
.private table td{
	padding: 20px 20px;	
}
.tr2{
	border-bottom: 1px gray solid;
}

.line6 {
	width: 100%;
	height: 2px;
	background-color: black;
}

/* 회원수정/탈퇴/비밀번호변경버튼 */
#block{
	display:none;
}

#btn1,#btn2,#btn3 {
	font-size: 14px;
	cursor: pointer;
	background-color: black;
	color:white;
}

#btn1{
	width:130px;
	margin: 3% 0;
}