@charset "UTF-8";

/* 게시판 페이지 css */

   
.section{
    margin-top: 150px;
    padding : 0 20%;

}
/* 게시글 등록 글씨 */
.title{
    margin: 0 5%;
    font-size:25px;
    color:black;
    text-align: left;
    font-weight:700;
} 

/* 사이 선 */
.line{
    width: 100%;
    height: 0.5px;
    margin: 40px 0;
    background-color: black;
} 

/* 버튼 제외 전체 */
.enrollNotice{
    display: flex;
    justify-content: center;
   
}

/* 게시글 */

.noticeCategory{
    margin:20px 0;
    height: 30px;
    width:60px;
    outline: none;
    border:none;
    background: none;

}
.noticeTitle{
    width:83%;
    margin:20px 0 20px 5px;
    height: 30px;
    outline: none;
    border:none;
    background: none;
    border-bottom: 1px solid;
}

.enrollNotice p{
    font-weight: bolder; 
}


/* 게시글 내용 */
#noticeContent {
    width: 100%;
   
}

/* 게시글 등록 버튼 */
.enrollButton  {
    text-align: center;
    margin:20px 0;
    
}

.enroll{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color:black;
    
}

   

