@charset "UTF-8";

/* 공지사항 페이지 css */

.section{
    margin-top: 150px;
    padding : 0 20%;

}
/* 공지사항 글씨 */
.title{
    margin: 50px 0 50px 5% ;
    font-size:25px;
    color:black;
    text-align: left;
    font-weight:700;
} 

/* 공지사항과 테이블 사이 선 */
/*.line{
    width: 100%;
    height: 0.5px;
    margin: 50px 0;
    background-color:black;
}*/


/* 게시글 등록 버튼 */
.postBtn{
    text-align:right;
}

.postButton{
    border:none;
    outline:none;
    background:none;
    margin-bottom:10px;
    cursor: pointer;
}

/* 게시글 테이블 */
.notice{
    width: 100%;
    margin: 40px 0;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
  /*   border-top: 5px double black; */
    
}


.notice th,td{
    border: 1px black solid;
    padding : 15px;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
    border:none;
}

.notice th{
    color : black;
    font-weight: bolder;
    border-bottom:0.5px solid;
}


/* 테이블에서 '번호' */
.postNumber{
    width:70px;
}
/* 테이블에서 '구분' */
.postCategory{
    width:80px;
}

/* 테이블 td 게시글제목들 */
.eachPostTitles{
    text-align : left;
    cursor: pointer;
} 

/* 테이블에서 '등록일' */
.postDate{
    width:130px;
}

.pageBar{
	text-align:center;
}

